@import 'datatables.net-dt'; 
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {

    :root {
      --background: 0 0% 100%;
      --foreground: 20 14.3% 4.1%;
  
      --card: 0 0% 100%;
      --card-foreground: 20 14.3% 4.1%;
  
      --popover: 0 0% 100%;
      --popover-foreground: 20 14.3% 4.1%;
  
      --primary: 24.6 95% 53.1%;
      --primary-foreground: 60 9.1% 97.8%;
  
      --secondary: 60 4.8% 95.9%;
      --secondary-foreground: 24 9.8% 10%;
  
      --muted: 60 4.8% 95.9%;
      --muted-foreground: 25 5.3% 44.7%;
  
      --accent: 60 4.8% 95.9%;
      --accent-foreground: 24 9.8% 10%;
  
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 60 9.1% 97.8%;
  
      --border: 20 5.9% 90%;
      --input: 20 5.9% 90%;
      --ring: 24.6 95% 53.1%;
      --radius: 0.5rem;
  
      --accent-support: 210, 40%, 96.08%;
  
      --link-hover: 219, 99%, 53%;
  
      /* Full Calendar Component Styling */
  
      --fc-button-text-color: #fff;
      --fc-button-bg-color: #f67319;
      --fc-button-border-color: #f67319;
      --fc-button-hover-bg-color: rgba(246, 115, 25, 0.5);
      --fc-button-hover-border-color: rgba(246, 115, 25, 0.5);
      --fc-button-active-bg-color: rgba(246, 115, 25, 0.5);
      --fc-button-active-border-color: rgba(246, 115, 25, 0.5);
    }

    .dark {
      --background: 20 14.3% 4.1%;
      --foreground: 60 9.1% 97.8%;
  
      --card: 20 14.3% 4.1%;
      --card-foreground: 60 9.1% 97.8%;
  
      --popover: 20 14.3% 4.1%;
      --popover-foreground: 60 9.1% 97.8%;
  
      --primary: 20.5 90.2% 48.2%;
      --primary-foreground: 60 9.1% 97.8%;
  
      --secondary: 12 6.5% 15.1%;
      --secondary-foreground: 60 9.1% 97.8%;
  
      --muted: 12 6.5% 15.1%;
      --muted-foreground: 24 5.4% 63.9%;
  
      --accent: 12 6.5% 15.1%;
      --accent-foreground: 60 9.1% 97.8%;
  
      --destructive: 0 72.2% 50.6%;
      --destructive-foreground: 60 9.1% 97.8%;
  
      --border: 12 6.5% 15.1%;
      --input: 360 100% 100%;
      --ring: 20.5 90.2% 48.2%;
  
      --link-hover: 218.06, 100%, 63.53%;
    }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  @font-face {
    font-family: 'Sulog';
    src: url('fonts/TD-Sulog.woff2') format('woff2-variations');
    font-weight: 200 400 700 900;
  }
  @font-face {
    font-family: 'Pinoy';
    src: url('fonts/TD-Pinoy.woff2') format('woff2-variations');
    font-weight: 200 400 700 900;
  }

  /* NAVBAR LOGO */

  .shimmer:hover {
    display: inline-block;
    mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
    animation: shimmer 1.25s infinite;
  }
  
  @keyframes shimmer {
    100% {
      mask-position: left;
    }
  }

  .font-sulog{
    font-family: 'Sulog', sans-serif;
  }
  .to-primary {
    background: linear-gradient(90deg, #f74321, hsl(24.6 95% 53.1%));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .bg-background{
    background-color: hsl(0 0% 100%);
  }

  .bg-support{
    background-color: hsl(210, 40%, 96.08%);
  }


  /* TABLE  */

  .table-container {
      overflow-x: auto;
  }

  .table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #E5E7EB; /* Add border to the outside of the table */
  }

  .table th, .table td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #E5E7EB;
  }

  .table th {
      background-color: oklch(0.928 0.006 264.531);
      color: #1F2937;
      font-weight: 400;
      height: 3rem;
      font-size: 0.875rem;
  }

  .table tr:hover {
      background-color: #f1f1f1;
  }

  .table td {
      white-space: nowrap;
  }

  .attendance-type{
    height: 12;
  }

  .loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  /* # Design Language

- Primary Font: Inter
- Primary Color: #F97316
- Main Background: #FFFF
- Accent Background: #F1F5F9
- Danger/Destructive Background: #F05655
- Success Background: #16A34A
- Input Component Height: 56px / 3.5rem
- Input Components Border Radius: 0.375rem
- Icon Width: 20px

### Light Mode

- Border Color: #6B7280
- Label Text Color: #6B7280
- Component Active/Focused state: #F97316

### Dark Mode

- Border Color: #FFFFFF
- Label Text Color: #D1D5DB */
}
